/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background: #f8f9fa;
    padding: 10px;
    text-align: center;
}

.logo img {
    width: 120px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.intro, .instructions, .carousel-section, .final-action {
    margin-bottom: 40px;
}

h1, h2 {
    color: #007bff;
}

p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 1.6;
}

h5 {
    font-size: 14px;
    color: #6c757d;
}

/* Estilos para o botão */
.button-link {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.button-link:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Estilos para o carrossel */
.carousel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-container {
    display: flex;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 24px;
    transform: translateY(-50%);
}

.carousel-button:hover {
    background-color: #0056b3;
    transform: translateY(-50%) scale(1.1);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
